* {
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Free Sans",Helvetica,Arial,sans-serif;
    color: #333;
  }

  .navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 6px 6px #dddddd;
    background-color: white;
  }
  
  .navbar__logo {
    padding: 1.5rem;
  }
  
  .navbar__list {
    display: flex;
    width: 40%;
    justify-content: space-around;
  }
  
  .navbar__burger {
    display: none;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .navbar__stripe {
    height: 3px;
    width: 25px;
    margin: 0.5rem 10px;
    background: #dddddd;
    transition: transform 0.75s ease, opacity 0.75s ease;
  }

  .navbar__burger:hover .navbar__stripe {
    background: #97c227;
  }

  .summary {
    margin-top: 8vh;
  }
  
  ul {
    list-style-type: none;
  }

  hr {
    display: none;
  }

  p {
    color: #535353;
  }

  .navbar.show .navbar__stripe--one {
    transform: translate(-9px) rotate(45deg) translate(16px);
  }
  .navbar.show .navbar__stripe--two {
    opacity: 0;
  }
  .navbar.show .navbar__stripe--three {
    transform: translate(-9px) rotate(-45deg) translate(16px);
  }
  .navbar.show .navbar__list {
    transform: translateX(0%);
  }

  .footer-linklist__link {
    color: #535353;
  }

  .window-blur.hide {
      background-color: rgb(138, 138, 138);
      opacity: 100%;
    }

    .navbar__burger {
      display: block;
    }
    .navbar__list {
      position: fixed;
      display: inline;
      background-color: white;
      grid-template-columns: repeat(1, 1fr);
      top: 8vh;
      right: 0;
      width: 25%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 1s ease;
      border-top: 1px solid black;
    }

    .navbar__item {
        text-align: center;
        font-weight: bold;
        vertical-align: middle;
        line-height: 54px;
        background-color: white;
        
    }

    .navbar__link {
      display: block;
      border-bottom: 1px solid black;
    }

    .navbar__link:hover {
        background-color: #97c227;
        border-bottom: 1px solid #97c227;
        color: white;
    }

    h1, h2, h3, p {
      margin: 0 13px 0 13px;
    }

    .summary {
      margin: 8vh 0 10px 0;
    }

    .summary__h1 {
      margin: 10px 100px 20px 100px;
      padding-top: 62px;
    }

    .summary__paragraph {
      font-size: x-large;
      line-height: 1.5;
      margin: 10px 100px 50px 100px;
    }

    .content__main-paragraph {
      line-height: 1.3;
      margin: 25px 100px 50px 100px;
    }

    .content__h2 {
      margin: 10px 100px 20px 100px;
    }

    .content__h3 {
      margin: 45px 100px 20px 100px;
    }

    .content__graph-text {
      font-size: smaller;
      line-height: 1.5;
      
    }
    
    .content__graph-text {
      list-style:none;
      margin: -18px 122px 20px 122px;
    }

    .content__graph-list:before {
      font-size: smaller;
      content: counter(list) ") ";
      counter-increment: list;
      padding-left: 100px;
    }

    .content__graph-img {
      display: none;
    }

    .content__graph-desktop-img {
      display: block;
      margin: 0 auto 20px auto;
    }

    .content__main-paragraph--less-bottom-space {
      margin-left: 100px;
      margin-right: 100px;
    }

    .footer-copyright {
      text-align: right;
      margin-bottom: 10px;
      margin-right: 15px;
      padding-bottom:15px;
    }

    #thicker_hr {
      display: block; 
      height: 1px;
      border: 0; 
      border-top: 3px solid #97c227;
      margin: 1em 7em 0 6em; 
      padding: 0; 
    }

    .footer-linklist {
      margin-left: 15px;
      margin-bottom: -18px;
    }

    .footer-linklist__item {
      display: inline;
    }

    .footer-hr { 
      display: block; 
      height: 1px;
      border: 0; 
      border-top: 1px solid #97c227;
      margin: 1em 0; 
      padding: 0; 
    }

  @media screen and (min-width: 801px) {

    h1 {
      font-size: 30pt;
    }

    h2 {
      font-size: 25pt;
    }

    h3 {
      font-size: 20pt;
    }

    .content__graph-img {
      display: none;
    }

    .content__graph-desktop-img {
      display: block;
      margin: 0 auto 0 auto;
    }

    .footer-linklist__item:hover {
      font-weight: bold;
    }
    
  }
  

  @media screen and (max-width: 800px) {

    .window-blur.hide {
      background-color: rgb(138, 138, 138);
      opacity: 100%;
    }

    .navbar__burger {
      display: block;
    }
    .navbar__list {
      position: fixed;
      display: inline;
      background-color: white;
      grid-template-columns: repeat(1, 1fr);
      top: 8vh;
      right: 0;
      width: 45%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 1s ease;
      border-top: 1px solid black;
    }

    .navbar__item {
        text-align: center;
        font-weight: bold;
        vertical-align: middle;
        line-height: 54px;
        background-color: white;
        
    }

    .navbar__link {
      display: block;
      border-bottom: 1px solid black;
    }

    .navbar__link:active {
        background-color: #97c227;
        border-bottom: 1px solid #97c227;
        color: white;
    }

    h1, h2, h3, p {
      margin: 0 13px 0 13px;
    }

    .summary {
      margin: 8vh 0 10px 0;
    }

    .summary__h1 {
      margin: 10px 13px 20px 13px;
      padding-top: 62px;
    }

    .summary__paragraph {
      font-size: x-large;
      line-height: 1.5;
      margin: 10px 13px 50px 13px;
    }

    .content__main-paragraph {
      line-height: 1.3;
      margin: 25px 13px 50px 13px;
    }

    .content__h2 {
      margin: 10px 13px 20px 13px;
    }

    .content__h3 {
      margin: 45px 13px 20px 13px;
    }

    .content__graph-text {
      font-size: smaller;
      line-height: 1.5;
      
    }
    
    .content__graph-text {
      list-style:none;
      margin: -18px 35px 20px 35px;
    }

    .content__graph-list:before {
      font-size: smaller;
      content: counter(list) ") ";
      counter-increment: list;
      padding-left: 15px;
    }

    .content__graph-img {
      display: none;
    }

    .content__graph-desktop-img {
      display: block;
      margin: 0 auto 20px auto;
    }

    .content__main-paragraph--less-bottom-space {
      margin-left: 13px;
      margin-right: 13px;
    }

    .footer-copyright {
      text-align: right;
      margin-bottom: 10px;
      margin-right: 15px;
      padding-bottom:15px;
    }

    #thicker_hr {
      display: block; 
      height: 1px;
      border: 0; 
      border-top: 3px solid #97c227;
      margin: 1em 0.8em 0 0.8em; 
      padding: 0; 
    }

    .footer-linklist {
      margin-left: 15px;
      margin-bottom: -18px;
    }

    .footer-linklist__item {
      display: inline;
    }

    .footer-hr { 
      display: block; 
      height: 1px;
      border: 0; 
      border-top: 1px solid #97c227;
      margin: 1em 0; 
      padding: 0; 
    }

  }
  
  @media screen and (max-width: 600px) {

    .window-blur.hide {
      background-color: transparent;
      opacity: 100%;
    }

    .navbar__burger {
      display: block;
    }
    .navbar__list {
      position: fixed;
      display: inline;
      background-color: white;
      grid-template-columns: repeat(1, 1fr);
      top: 8vh;
      right: 0;
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 1s ease;
      border-top: 1px solid black;
    }

    .navbar__item {
        text-align: center;
        font-weight: bold;
        vertical-align: middle;
        line-height: 54px;
        background-color: white;
        
    }

    .navbar__link {
      display: block;
      border-bottom: 1px solid black;
    }

    .navbar__link:active {
        background-color: #97c227;
        border-bottom: 1px solid #97c227;
        color: white;
    }

    h1, h2, h3, p {
      margin: 0 13px 0 13px;
    }

    .summary {
      margin: 15vh 0 10px 0;
    }

    .summary__h1 {
      margin: 10px 13px 20px 13px;
      padding-top: 0;
    }

    .summary__paragraph {
      font-size: x-large;
      line-height: 1.5;
      margin: 10px 13px 50px 13px;
    }

    .content__main-paragraph {
      line-height: 1.3;
      margin: 25px 13px 50px 13px;
    }

    .content__h2 {
      margin: 10px 13px 20px 13px;
    }

    .content__h3 {
      margin: 45px 13px 20px 13px;
    }

    .content__graph-text {
      font-size: smaller;
      line-height: 1.5;
      
    }
    
    .content__graph-text {
      list-style:none;
      margin: -18px 35px 20px 35px;
    }

    .content__graph-list:before {
      font-size: smaller;
      content: counter(list) ") ";
      counter-increment: list;
      padding-left: 15px;
    }

    .content__main-paragraph--less-bottom-space {
      margin-left: 13px;
      margin-right: 13px;
    }

    hr { 
      display: block; 
      height: 1px;
      border: 0; 
      border-top: 1px solid #97c227;
      margin: 1em 0; 
      padding: 0; 
    }

    #thicker_hr {
      display: block; 
      height: 1px;
      border: 0; 
      border-top: 3px solid #97c227;
      margin: 1em 0.8em 0 0.8em; 
      padding: 0; 
    }

    .footer-linklist {
      margin: 0 13px;
    }

    .footer-linklist__item {
      display: list-item;
      margin: 15px 0 15px 0;
    }

    .footer-linklist__item:active {
      transform: rotate(-180deg) translate(77%);
    }

    .content__graph-img {
      display: block;
      margin: 0 auto 20px auto;
    }

    .content__graph-desktop-img {
      display: none;
    }

    .footer-copyright {
      text-align: center;
      margin-bottom: 15px;
    }

  }
